html,body{margin:0;padding:0}
body
{
	font: 76% arial,sans-serif;
	text-align:center;
	background-size: 100% 100%; /* первые 100% - ширина, вторые 100% - высота */ 
	-o-background-size: 100% 100%; /* Для браузера Opera */
	-moz-background-size: 100% 100%; /* Для MozillaFireFox */
	background-attachment:scroll;
	background: url("../images/body1.jpg") no-repeat right;
}

p{margin:0 10px 10px;
text-align : center;
font-size : 16px; 
font-style : normal
}

a{display:block;color: #981793;padding:10px}

#header {
	background: url("../images/font.jpg") no-repeat center;
	height:150px;
}

#wrapper {
  height:auto !important;
  height:100%;
  min-height:100%;
}



#container {
  min-width:800px;
} 
#description 
{
	margin:0px 200px 0px 200px;
	text-align: justify;
	text-indent: 10px;
}
#left 
{
	width: 960px;
	margin: 60px auto;
	border: 1px solid LightBlue;
	background-color: LightGrey;
	background-image: -moz-linear-gradient(White, LightGrey);
	background-image: -webkit-gradient(linear, left top, left bottom, from(White), to(LightGrey));
	background-image: -webkit-linear-gradient(White, LightGrey);
	background-image: -o-linear-gradient(White, LightGrey);
	background-image: -ms-linear-gradient(White, LightGrey);
	background-image: linear-gradient(White, LightGrey);
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	-moz-box-shadow: 0 1px 1px Blue;
	-webkit-box-shadow: 0 1px 1px Blue;
	box-shadow: 0 1px 1px Blue;
	float:left; 
	width:200px;
	text-align: left;
}

#left li:hover > ul 
{
	opacity: 1;
	visibility: visible;
	margin: 0;
}

#left ul ul 
{
	top: 0;
	left: 150px;
	margin: 0 0 0 20px;
	_margin: 0; /*IE6 only*/
	-moz-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	-webkit-box-shadow: -1px 0 0 rgba(255,255,255,.3);
	box-shadow: -1px 0 0 rgba(255,255,255,.3);
}

#left ul li 
{
	float: none;
	display: block;
	border: 0;
	_line-height: 0; /*IE6 only*/
	-moz-box-shadow: 0 1px 0 #111, 0 2px 0 #666
	-webkit-box-shadow: 0 1px 0 #111, 0 2px 0 #666;
	box-shadow: 0 1px 0 #111, 0 2px 0 #666;
}

#left ul li:last-child 
{
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}

#left ul a 
{
	padding: 10px;
	width: 130px;
	_height: 10px; /*IE6 only*/
	display: block;
	white-space: nowrap;
	float: none;
	text-transform: none;
}

#left ul a:hover 
{
	background-color: #0186ba;
	background-image: -moz-linear-gradient(#04acec,  #0186ba);
	background-image: -webkit-gradient(linear, left top, left bottom, from(#04acec), to(#0186ba));
	background-image: -webkit-linear-gradient(#04acec, #0186ba);
	background-image: -o-linear-gradient(#04acec, #0186ba);
	background-image: -ms-linear-gradient(#04acec, #0186ba);
	background-image: linear-gradient(#04acec, #0186ba);
}




#right {
  float:right; 
  width:200px;
}
#footer 
{
	position: absolute;
	bottom: 0px;
	height:60px;
	text-align: center;
}
#clear {
  clear:both;
}